* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    color: hsl(238, 29%, 16%);
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px 10px 25px;
    min-height: 100vh;
}

h2 {
    font-size: 32px;
    text-align: center;
    margin:0;
    padding-bottom: 30px;
}

a, a:visited {
    text-decoration: none;
    color: hsl(14, 88%, 65%);
}

.accordion-container {
    background-color: white;
    border-radius: 10px;
    border: 0;
    justify-content: center;
    padding: 50px 25px;
    width: 100%;
}

.attribution {
    text-align: center;
    padding-top: 20px;
}

.faq-questions {
    padding: 20px 0;
    color: hsl(240, 6%, 50%);
    border-bottom: 1px solid hsl(240, 6%, 50%);
    position: relative;
    transition: all .3s ease-in-out;
}

.faq-questions::before {
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.faq-answers {
    padding: 20px 0;
    display: none;
    transition: all .3s ease-in-out;
}

.accordion-illustration {
    position: relative;
    padding-bottom: 25px;
}

.accordion-illustration::before {
    position: absolute;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: 90%;
    background-position: 15px;
    background-repeat: no-repeat;
    height: 104px;
    width: 76%;
    content: '';
    bottom: -20px;
    left: 31px;
}



.accordion-faq{
    padding-top: 50px;   
}



/*-----Toggling classes for animation------------*/
 
.display-answer{
    font-weight: 700;
    border-bottom: none;
    color: hsl(238, 29%, 16%);
    padding-bottom: 10px;
}

.display-answer::before {
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    right: 0;
    cursor: pointer;
    transform: rotate(180deg);
}

.opacity-change{
    display: block;
    opacity: 0.7;
    border-bottom: .5px solid hsl(240, 6%, 50%);
    padding-top: 10px;
}

/*-------------- Desktop View-----------------*/

@media only screen and (min-width: 1024px){
    body {
        padding: 50px 50px 10px 50px;
    }


    .accordion-container {
        display: flex;
        flex-direction: column;
        padding: 45px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    .accordion-illustration::before {
        content: '';
        background-image: url('../images/bg-pattern-desktop.svg');
        background-position: 0 0;
        background-size: 90%;
        width: auto;
        height: 100%;
        bottom: 180px;
        left: -100px;
        position: absolute;
        opacity: .5;
    }
}