* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    color: hsl(238, 29%, 16%);
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 25px 0 25px;
    min-height: 100vh;
}

h2 {
    font-size: 32px;
    text-align: center;
    margin:0;
    padding-bottom: 30px;
}

a, a:visited {
    text-decoration: none;
    color: hsl(14, 88%, 65%);
}

.accordion-container {
    background-color: white;
    border-radius: 10px;
    border: 0;
    justify-content: center;
    width: 100%;
}

.attribution {
    text-align: center;
    padding-top: 20px;
}

.faq-questions {
    padding: 20px 0;
    color: hsl(240, 6%, 50%);
    border-bottom: 1px solid hsl(240, 6%, 50%);
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.faq-questions::before {
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.faq-answers {
    padding: 20px 0;
    display: none;
    transition: all .3s ease-in-out;
}

.accordion-illustration {
    position: relative;
    padding-bottom: 25px;
}



.accordion-faq{
    padding-top: 50px;
    white-space: normal;   
}



/*-----Toggling classes for animation------------*/
 
.display-answer{
    font-weight: 700;
    border-bottom: none;
    color: hsl(238, 29%, 16%);
    padding-bottom: 10px;
}

.display-answer::before {
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    right: 0;
    cursor: pointer;
    transform: rotate(180deg);
}

.opacity-change{
    display: block;
    opacity: 0.7;
    border-bottom: .5px solid hsl(240, 6%, 50%);
    padding-top: 10px;
}

/*-------------- Desktop View-----------------*/

@media only screen and (min-width: 1024px){
    body {
        padding: 50px 50px 10px 50px;
    }


    .accordion-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 920px;
        min-height: 512px;
    }

    .column-1, .column-2 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    .column-1 {
        position: relative;
    }

    .column-2 {
        padding: 50px 25px 50px 0;
    }

    .accordion-illustration {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .accordion-illustration img {
        position: absolute;
        top: 30px;
        left: -75px;
        z-index: 2;
    }

    .accordion-illustration::before {
        content: "";
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: 95%;
        background-repeat: no-repeat;
        transform: translate(-54%, -30%);
        position: absolute;
        width: 966px;
        height: 945px;
        z-index: 1;
    }

    .column-1::before {
        content: "";
        background-image: url(../images/illustration-box-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 33%;
        left: -20%;
        width: 191px;
        height: 184px;
        z-index: 3;
    }

    .accordion-faq{
        padding-top: 0;
    }
}


@media only screen and (max-width: 1023px) {

    .accordion-container {
        padding: 50px 25px;
    }


    .accordion-illustration img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 150px;
        right: 0;
        max-width: 80%;
    }


    .accordion-illustration::before {
        position: absolute;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-size: 80%;
        background-position: 15px;
        background-repeat: no-repeat;
        width: 100%;
        height: 120px;
        content: '';
        top: -53px;
        left: 17px;
    }
}